body{
    margin: 0;
    font-family:  'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
/*container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*intro*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('./../../imgages/intro.jpg') center no-repeat;
    background-size: cover;
    -webkit-background-size: cover ;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__title{
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 1;
}
.intro__title:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}
.inner__suptitle{
    margin-bottom: 20px;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
   
}

/*header*/
.header{
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
/*nav*/ 
.nav{
    text-transform: uppercase;
    font-size: 14px;
}
.nav__link{
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
}

.nav__link:after{
content: '';
display: block;
width: 100%;
height: 3px;
background-color: yellow;
position: absolute;
top: 100%;
left: 0;
z-index: 1;
opacity: 0;
transition: opacity .1s linear;
}

.nav__link:hover{
    color: yellow;
}
.nav__link:hover:after,
.nav__link.active:after{
    opacity: 1;
}
.nav__link.active{
    color: yellow;
}
/*button*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background .1s linear, color .1s linear ;
}
.btn:hover{
    background-color: #fff;
    color: #333;
}
/*slider*/
.slider{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider__inner{
    
    display: flex;
    justify-content: space-between;
}
.slider__item{
    padding: 20px 0;
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-top: 3px solid #fff;
    opacity: 0.7;
    position: relative;
}
.slider__item.active{
    opacity: 1;
}
.slider__item.active:before{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color:red;
}
.slider__num{
    font-size: 24px;
    font-weight: 700;
}
/*section*/

.section{
 padding: 80px 0;
}
.section__header{
    width: 100%;
    min-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__suptitle{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;;
}
.section__title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.section__title:after{
    content: '';
    display: block;
    width: 60px;    
    height: 3px;
    background-color:red;
    margin: 30px auto;
}
.section__text{
    color: #999;
    font-size: 15px;
}